 $colores: (
    colorPrincipal: rgb(34, 34, 34),
    colorLetras: rgb(245, 245, 220),
);

/* $tamanos: (
    
); */

/* $fontfamily: (
    
); */

/* llamo por ejemplo font-weight: map-get($tamanos, fontlarge); */